<form action="/tasks/{{updateData._id}}?_method=PUT" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="_method" value="PUT">
<label for="">Task</label>
<input type="text" name="task" value="{{updateData.task}}">
<button type="submit">submit</button>

</form>