
<div>
    <h1>Task ManageMent</h1>
    <form action="" method="post">
        <input class="task_Input" type="text" name="task" ><br><br>
        <button class="button" type="submit">Add a Task</button>
        <button class="button" type="reset">Clear A Task</button>
    </form>
</div>

